#stand{
    background-color: green;
    height: 500px;
    width: 10px;

margin-top: 100px;
display: inline-block;
margin-left: 500px;
}
#kapda{
    background-color: orange;
    height: 200px;
    width: 350px;
    display: inline-block;
    position: absolute;
    margin-top: 100px;
    
}